.bar {
    background-color: #312b2c;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 80px;
}

.menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;

    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;

    -webkit-transition: 200ms;

    -o-transition: 200ms;

    transition: 200ms;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #ffffff22;
}

.menu-button:active {
    background-color: #ff2b2b;
}

.fill-button {
    background-color: #ff2b2b;

    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 4px;

    min-width: 170px;
    padding: 12px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    -webkit-box-shadow: black 0px 0px 8px;
    box-shadow: black 0px 0px 8px;
}

.fill-button:hover {
    cursor: pointer;
    scale: 0.98;
    -webkit-box-shadow: black 0px 0px 4px;
    box-shadow: black 0px 0px 4px;
}

.mobile-bar {
    height: 0px;
    padding: 0px;
    background-color: #312b2c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#hamburger {
    visibility: collapse;
}

#hamburger:checked+.bar {
    left: 0 !important;
}

.hamburger-button {
    width: 0;
    height: 0;
    -webkit-filter: invert();
    filter: invert();
    margin-left: 16px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.chevron-left {
    height: 32px;
    width: 32px;
    margin-top: 25px;
    margin-bottom: 26px;
    visibility: collapse;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    -webkit-filter: invert();
    filter: invert();
}

.hamburger-button:hover,
.chevron-left:hover {
    -webkit-filter: invert() brightness(0.8);
    filter: invert() brightness(0.8);
}

.arrow-slider {
    visibility: collapse;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 40%;
}

.right-arrow {
    scale: -1;
}

.arrow-slider:hover {
    opacity: 60%;
}

@media (max-width: 660px) {
    .arrow-slider {
        visibility: visible;
        position: relative;
        width: 32px;
        height: 32px;
        -webkit-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;
    }

    .bar {
        position: fixed;
        z-index: 999;
        height: 100vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        top: 0;
        left: -100px;
        -webkit-transition: 500ms;
        -o-transition: 500ms;
        transition: 500ms;
    }

    .hamburger-button {
        width: 32px;
        height: 32px;
    }

    .mobile-bar {
        height: 70px;
        visibility: visible;
        padding: 8px;
    }

    .chevron-left {
        visibility: visible;
    }

    .menu-button {
        height: auto;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
    }
}