.bar {
    background-color: #312b2c;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;

    transition: 200ms;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #ffffff22;
}

.menu-button:active {
    background-color: #ff2b2b;
}

.fill-button {
    background-color: #ff2b2b;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 4px;

    min-width: 170px;
    padding: 12px;
    transition: 200ms;
    box-shadow: black 0px 0px 8px;
}

.fill-button:hover {
    cursor: pointer;
    scale: 0.98;
    box-shadow: black 0px 0px 4px;
}

.mobile-bar {
    height: 0px;
    padding: 0px;
    background-color: #312b2c;
    display: flex;
    align-items: center;
}

#hamburger {
    visibility: collapse;
}

#hamburger:checked+.bar {
    left: 0 !important;
}

.hamburger-button {
    width: 0;
    height: 0;
    filter: invert();
    margin-left: 16px;
    transition: 200ms;
}

.chevron-left {
    height: 32px;
    width: 32px;
    margin-top: 25px;
    margin-bottom: 26px;
    visibility: collapse;
    transition: 200ms;
    filter: invert();
}

.hamburger-button:hover,
.chevron-left:hover {
    filter: invert() brightness(0.8);
}

@media (max-width: 660px) {
    .bar {
        position: fixed;
        z-index: 999;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        left: -100px;
        transition: 500ms;
    }

    .hamburger-button {
        width: 32px;
        height: 32px;
    }

    .mobile-bar {
        height: 70px;
        visibility: visible;
        padding: 8px;
    }

    .chevron-left {
        visibility: visible;
    }

    .menu-button {
        height: auto;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
    }
}