.wrap {
    display: block;
    margin: auto;
    padding: 64px;
    max-width: var(--page_width);
}

.wrap-top {
    padding-top: 32px;
    padding-bottom: 80px;
}

.wrap-normal {
    padding-top: 64px;
    padding-bottom: 80px;
}

.main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-section {
    background-color: #f7f3f0;
    width: 100vw;
}

.normal-section {
    width: 100vw;
}

.content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 24px;
}

.right-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.slider-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1100px) {
    .wrap {
        padding: 32px;
        padding-right: 42px;
    }
}

@media (max-width: 950px) {
    .content-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 32px;
    }

    .left-content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .right-content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}