.footer-wrap {
    position: relative;
    margin: auto;
    max-width: var(--page_width);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    height: 85px;
}

.links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 12px;
}

.footer-background {
    background-color: #2d2d2d;
    position: absolute;
    left: -50vw;
    height: 85px;
    width: 150vw;
    z-index: -1;
}

.link-circle {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.link-icon {
    width: 17px;
    height: 17px;

}

.link-circle:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.link-linkedin {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
}

.link-googleplus {
    width: 18px;
    height: 18px;
}

.footer-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 950px) {
    .footer-wrap {
        height: 40px;
    }
}

@media (max-width: 520px) {
    .footer-wrap {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 16px;
    }

    .footer-background {
        padding-bottom: 12px;
    }
}