.footer-wrap {
    position: relative;
    margin: auto;
    max-width: var(--page_width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    height: 85px;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.footer-background {
    background-color: #2d2d2d;
    position: absolute;
    left: -50vw;
    height: 85px;
    width: 150vw;
    z-index: -1;
}

.link-circle {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.link-icon {
    width: 17px;
    height: 17px;
    
}

.link-circle:hover {
    filter: brightness(0.8);
}

.link-linkedin {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
}

.link-googleplus {
    width: 18px;
    height: 18px;
}

.footer-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 950px) {
    .footer-wrap {
        height: 40px;
    }
}

@media (max-width: 520px) {
    .footer-wrap{
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
    }
    .footer-background {
        padding-bottom: 12px;
    }
}