.loading-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: #f7f3f0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;

    -webkit-animation: loading-screen 500ms 3.3s linear forwards;

    animation: loading-screen 500ms 3.3s linear forwards;
}

.loading-text {
    font-size: 32px;
    font-weight: bold;
    color: #545454;
}

.loading-bar {
    height: 3px;
    background-color: #a7a3a1;
    max-width: 200px;
    width: 100%;
}

.loading-fill {
    height: 3px;
    width: 0;
    background-color: #545454;
    -webkit-animation: loading-bar 3s 300ms forwards;
    animation: loading-bar 3s 300ms forwards;
}

@-webkit-keyframes loading-bar {
    to {
        width: 100%;
    }
}

@keyframes loading-bar {
    to {
        width: 100%;
    }
}

@-webkit-keyframes loading-screen {
    to {
        opacity: 0;
        visibility: collapse;
    }
}

@keyframes loading-screen {
    to {
        opacity: 0;
        visibility: collapse;
    }
}