.main-photo {
    width: 250px;
    height: 350px;
    background-color: gray;
    -o-object-fit: cover;
    object-fit: cover;
    background-image: url('../assets/portrait1.webp');
    background-size: cover;
    background-position: center;
    -webkit-transition: scale 200ms;
    -o-transition: scale 200ms;
    transition: scale 200ms;
}

.main-photo:hover {
    scale: 1.05;
}

.profile-links-bar {
    margin-top: 32px;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: start;
    align-self: flex-start;
    gap: 48px;
    font-size: 16px;
}

.link-button {
    color: #7e7e7e;
    font-weight: 500;
    font-style: italic;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    text-decoration: none;
}

.link-button:hover {
    color: #a0a0a0;
    cursor: pointer;
}

.mini-photo-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mini-photo {
    width: 150px;
    height: 160px;
    background-color: gray;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center 20%;
}

.photo-name {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 4px;
    width: 100%;
    text-align: center;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    bottom: -30px;
}

.mini-photo:hover>.photo-name {
    bottom: 0;
}

.team-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 52px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team-subcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 675px;
}

.team-text {
    max-width: 500px;
}

.team-text::after {
    font-size: 14px;
    opacity: 60%;

    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
}

.semibig-text {
    margin-bottom: 16px;
}

.semibig-text::after {
    font-size: 24px;
    font-weight: 500;
    color: #545454;
    width: 370px;
    content: "MARK WAUGH";
}

@media (max-width: 950px) {
    .team-container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .team-subcontainer {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .semibig-text,
    .team-text {
        text-align: center;
    }

    .profile-links-bar {
        width: 100%;
    }

    .mini-photo-container {
        gap: 16px;
    }
}

@media (max-width: 660px) {
    .mini-photo {
        visibility: collapse;
        height: 0;
        width: 0;
    }

    .semibig-text::after {
        content: "MARK WAUGH";
        -webkit-animation: semibig-text 25s linear infinite;
        animation: semibig-text 25s linear infinite;
    }

    .main-photo {
        width: calc(100vw - 96px);
        height: 112vw;
        -webkit-animation: main-photo 25s linear infinite;
        animation: main-photo 25s linear infinite;
    }

    .team-text {
        -webkit-animation: team-text 25s linear infinite;
        animation: team-text 25s linear infinite;
    }
}

@media (max-width: 520px) {
    .team-text {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 100vw;
    }

    .profile-links-bar {
        gap: 0;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 15px;
    }
}

@-webkit-keyframes semibig-text {

    6.25%,
    12.5% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    18.75% {
        opacity: 0;
    }

    25%,
    31.25% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    37.5% {
        opacity: 0;
    }

    43.75%,
    50% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    56.25% {
        opacity: 0;

    }

    62.5%,
    68.75% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    75% {
        opacity: 0;
    }

    81.25%,
    87.5% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    93.75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "MARK WAUGH";
    }
}

@keyframes semibig-text {

    6.25%,
    12.5% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    18.75% {
        opacity: 0;
    }

    25%,
    31.25% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    37.5% {
        opacity: 0;
    }

    43.75%,
    50% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    56.25% {
        opacity: 0;

    }

    62.5%,
    68.75% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    75% {
        opacity: 0;
    }

    81.25%,
    87.5% {
        opacity: 1;
        content: "MARK WAUGH";
    }

    93.75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "MARK WAUGH";
    }
}

@-webkit-keyframes team-text {

    6.25%,
    12.5% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    18.75% {
        opacity: 0;
    }

    25%,
    31.25% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    37.5% {
        opacity: 0;
    }

    43.75%,
    50% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    56.25% {
        opacity: 0;

    }

    62.5%,
    68.75% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    75% {
        opacity: 0;
    }

    81.25%,
    87.5% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    93.75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }
}

@keyframes team-text {

    6.25%,
    12.5% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    18.75% {
        opacity: 0;
    }

    25%,
    31.25% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    37.5% {
        opacity: 0;
    }

    43.75%,
    50% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    56.25% {
        opacity: 0;

    }

    62.5%,
    68.75% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    75% {
        opacity: 0;
    }

    81.25%,
    87.5% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }

    93.75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum asperiores provident quam . Ui / Ux, print template";
    }
}


@-webkit-keyframes main-photo {

    25%,
    31.25% {
        background-image: url('../assets/portrait2.jpg');
    }

    43.75%,
    50% {
        background-image: url('../assets/portrait3.jpg');
    }

    62.5%,
    68.75% {
        background-image: url('../assets/portrait4.jpg');
    }

    81.25%,
    87.5% {
        background-image: url('../assets/portrait5.jpg');
    }

    100% {
        background-image: url('../assets/portrait1.webp');
    }
}


@keyframes main-photo {

    25%,
    31.25% {
        background-image: url('../assets/portrait2.jpg');
    }

    43.75%,
    50% {
        background-image: url('../assets/portrait3.jpg');
    }

    62.5%,
    68.75% {
        background-image: url('../assets/portrait4.jpg');
    }

    81.25%,
    87.5% {
        background-image: url('../assets/portrait5.jpg');
    }

    100% {
        background-image: url('../assets/portrait1.webp');
    }
}